<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL_PREFIX__.agentdashboard</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__INSTALL_DIR__/service_runner.py</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>__DASHBOARD_LOG__</string>
  <key>StandardErrorPath</key>
  <string>__DASHBOARD_LOG__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__PATH__</string>
    <key>AGENTSTACK_PORT</key>
    <string>__PORT__</string>
    <key>AGENTSTACK_LABEL_PREFIX</key>
    <string>__LABEL_PREFIX__</string>
    <key>AGENTSTACK_MAIL_DB</key>
    <string>__MAIL_DB__</string>
    <key>AGENTSTACK_MAIL_ENV</key>
    <string>__MAIL_ENV__</string>
    <key>AGENTSTACK_MAIL_HOME</key>
    <string>__MAIL_HOME__</string>
    <key>AGENTSTACK_MAIL_HTTP_BEARER_MODE</key>
    <string>__MAIL_HTTP_BEARER_MODE__</string>
    <key>AGENTSTACK_SIGNALS_DIR</key>
    <string>__SIGNALS_DIR__</string>
    <key>AGENTSTACK_MCP_URL</key>
    <string>__MCP_URL__</string>
    <key>AGENTSTACK_TERMINAL</key>
    <string>__TERMINAL__</string>
    <key>AGENTSTACK_PROJECT_KEY</key>
    <string>__PROJECT_KEY__</string>
    <key>AGENTSTACK_PROTECTED_ROOTS</key>
    <string>__PROTECTED_ROOTS__</string>
    <key>AGENTSTACK_DELIVERABLE_ROOTS</key>
    <string>__DELIVERABLE_ROOTS__</string>
    <key>AGENTSTACK_LANG</key>
    <string>__LANG__</string>
    <key>AGENTSTACK_MURMUR</key>
    <string>__MURMUR__</string>
    <key>AGENTSTACK_SPAWN_DIRS</key>
    <string>__SPAWN_DIRS__</string>
    <key>AGENTSTACK_SPAWN_ROOTS</key>
    <string>__SPAWN_ROOTS__</string>
    <key>AGENTSTACK_CODEX_CHILD_APPROVAL</key>
    <string>__CODEX_CHILD_APPROVAL__</string>
    <key>AGENTSTACK_CODEX_NETWORK</key>
    <string>__CODEX_NETWORK__</string>
    <key>AGENTSTACK_CODEX_ADD_DIRS</key>
    <string>__CODEX_ADD_DIRS__</string>
    <key>AGENTSTACK_PORTRAITS_DIR</key>
    <string>__PORTRAITS_DIR__</string>
    <key>AGENTSTACK_CUSTOM_PORTRAITS</key>
    <string>__CUSTOM_PORTRAITS__</string>
    <key>AGENTSTACK_CODEX_MODELS</key>
    <string>__CODEX_MODELS__</string>
    <key>AGENTSTACK_HOOKS_DIR</key>
    <string>__HOOKS_DIR__</string>
    <key>AGENTSTACK_RUNTIME_DIR</key>
    <string>__RUNTIME_DIR__</string>
    <key>AGENTSTACK_DASHBOARD_LOG</key>
    <string>__DASHBOARD_LOG__</string>
    <key>AGENTSTACK_DASHBOARD_LOG_MAX_BYTES</key>
    <string>__DASHBOARD_LOG_MAX_BYTES__</string>
    <key>AGENTSTACK_DASHBOARD_LOG_BACKUPS</key>
    <string>__DASHBOARD_LOG_BACKUPS__</string>
    <key>AGENTSTACK_DASHBOARD_RESTART_DELAY</key>
    <string>__DASHBOARD_RESTART_DELAY__</string>
    <key>AGENTSTACK_MANAGED_AGENTS_FILE</key>
    <string>__MANAGED_AGENTS_FILE__</string>
    <key>AGENTSTACK_VAULT</key>
    <string>__VAULT__</string>
  </dict>
</dict>
</plist>
